
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');


body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: rgb(255, 255, 255);
}

.background {
    background-image: url('../images/mountainstorm.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

/* Header
__________________________________________________________________________________________________________________________ */

#logo {
        display: absolute;
        max-width: 70px;
        top: 20px;
        left: 20px;
}

/* _____________________NAV_____________________ */

nav {
	max-width: 100%;
	overflow: hidden;
	background-color: rgb(17, 18, 20);
}

.navbar-logo {
	display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
}

.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color:  #ffffff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(66, 38, 50);
    font-weight: 700;
    font-size: 20px;
}

.responsive li {
	display: block;
}

/* Main Body Content
________________________________________________________________________________________________________ */

/* idaho mountains */
#hero-img {
    width: 91%;
    display: block;
    margin: 0 auto;
    border: solid #ffffff 20px;
    text-align: center;
}


/* preston idaho */
.city {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 1em;
    background-color:  rgba(18, 77, 0, 0.692);
    color: rgb(255, 255, 255);
}

#weatherSummary {    
position: absolute;
    top: 300px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    padding: 5px 10px;
    font-size: 12px; 
  } 


/* 5 day forecast */
.forecast,
.forecast h3 {
    display: none;
}
/*_________________________ Warning ______________________________ */
.weather-advisory {
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.726);
    font-size: 12px;
    border-radius:0 15px 15px 15px;
    margin: 20px;
    padding: 0 10px 10px 5px;
}

.weather-advisory h2 {
    background: rgba(18, 77, 0, 0.692);
    color: #ffffff;
    max-width: 90px;
    padding: 5px;
    border-radius:0 15px 15px 15px;
}
/*_________________________ contact us______________________________ */
.contact-us{
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.726);
    font-size: 12px;
    border-radius:0 15px 15px 15px;
    margin: 20px;
    padding: 0 10px 10px 5px;
}

.contact-us h2 {
    background: rgba(18, 77, 0, 0.692);
    color: #ffffff;
    max-width: 100px;
    padding: 5px;
    border-radius:0 15px 15px 15px;
}

.contact-us address {
    background-color: rgba(255, 255, 255, 0.726);
    max-width: 300px;
    border-radius: 5%;
    padding: 5px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
   
}

.contact-us iframe {
    display: block;
    margin: 10px;
    /* border-radius: 5%; */
    max-width: 250px;
    max-height: 200px;

}

/* footer
_________________________________________________________________________________________ */
footer {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: rgb(0, 0, 0);
    font-size: 8px;
    color: #ffffff;
}

footer p {
    text-align: center;
    align-self: flex-end;
    margin-left: 30%;
}

/* map */
iframe {
    display: none;
}

/*MEDIUM ______________________________________________________________________________________________________ */

@media screen and (min-width: 32.5em) {

/*______________________________Header________________________________ */
    

    /* little hitch-hikers */
     #logo {
        width: 250px;
        border-radius: 10px;
    }
    
  /* _________________________________NAV______________________________________ */

	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: #ffffff;
	}
    
/*______________________________Main Body Content_____________________________ */

/* preston idaho */
.city {
    font-size: 1.5em;
   
}

#weatherSummary {    
position: absolute;
    top: 300px;
    right: 40px;
  } 


/* 5 day forecast */
.forecast,
.forecast h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.726);
    /* border-radius:%; */
    max-width: 400px;
    text-align: center;
    font-size: 12px;
}

.weather-advisory {
    max-width: 800px;
    font-size: 15px;
}
.weather-advisory h2 {
    max-width: 105px;
}


.contact-us{
    max-width: 800px;
    font-size: 13px;
}

.contact-us h2 {
    max-width: 120px;
}

.contact-us iframe{
    display: inline-block;
    border-radius: 5%;
    max-height: 400px;
}
    .iframe {
        text-align: right;
        
    }
    /* footer
    ____________________________________________________________________________________________________________________________________ */
    
    footer p {
        font-size: 12px;
    }
    
    
    
    }
