@media screen and (min-width: 700px) {

/* Header
__________________________________________________________________________________________________________________________ */

/* little hitch-hikers */
#logo {
    width: 250px;
}

.sub-header {
    font-size: 30px;

}

/* _________________________________NAV______________________________________ */

.navigation {
    display: flex;
}
.navigation li:first-child {
    display: none;
}
.navigation li {
    display: block;
    flex: 1 1 100%;
}
.navigation li a {
    color: #ffffff;
}
}


/* Main Body Content
______________________________________________________________________________________________________________________________ */

/* preston idaho */
h2 span {
    font-size: 2em;
}

#pancake {
    font-size: 24px;
}

.weather  {
    max-width: 650px;
    font-size: 20px;
}

/* 5 day forecast */
.forecast,
.forecast h3 {
    display: flex;
    justify-content: center;
    margin: 18px auto;
    border: 1px dashed rgba(88, 26, 34, 0.822);
    padding: 15px;
    background-color: rgb(238, 237, 236);
    max-width: 650px;
    text-align: center;
    font-size: 12px;
}

.article {
    max-width: 650px;
    font-size: 20px;
}

.contact {
    max-width: 650px;
    font-size: 20px;
}

/* footer
____________________________________________________________________________________________________________________________________ */
footer {
    background-color: rgb(167, 231, 231);
    font-size: 10px;
}

footer p {
    background-color: rgb(179, 212, 212);
    font-size: 12px;
}

/* map */
iframe {
    padding: 20px 20px;
    margin-left: auto;
    margin-right: 0;
    display: block;
}


}