@media screen and (min-width: 1000px) {
    
    /* Header
__________________________________________________________________________________________ */


/* Nav
_________________________________________________________________________________________*/

.navigation li a {
    color: rgb(255, 255, 255);
}


/* Main Body Content
_________________________________________________________________________________________ */
#weatherSummary {
    top: 480px;
    right: 50px;
    padding: 15px 15px; 
    font-size: 18px;
  }

#gallery {
    grid-template-columns: 1fr 1fr 1fr; 
}  

.pic {
    max-width: 300px;
}

/* footer
_________________________________________________________________________________________ */
footer {
    font-size: 12px;
}

footer p {
    font-size: 18px;
}

    
}   