/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: 'Abel', sans-serif;
    color: #5e96ae; 
    text-align: center;

}

h1 {
    font-size: 1.5rem /* x.xrem  (rem is a unit of measure) */;
    text-align: center;
    margin: 0.15rem;
    color: #531839; 
    
}

h4 {
    font-size: 1.0rem;
    text-align: center;
    border-bottom: .5px solid whitesmoke;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: 1rem;
    max-width: 1000px; /* xxxpx (px = pixel is a unit of measure)  */;
}
header, footer, footer a {
    text-align: center;
    background-color: #ceecef; /* */;
    color: #989ca0;
    /* Comment */
}

header img {
    width: auto;
    height: auto;
}

footer {
    font-size: smaller;
    text-align: center;
}

ul {
    text-align: left;
    list-style-position: left;
    list-style-type: circle;
    margin: 0 auto;
    max-width: 300px;
}