body {  
    font-size: 30px;
    line-height: 45px;
    font-family: 'Abel', sans-serif;
    color: #5e96ae; 
    text-align:center; 
} 

p { 
    background-color: #ffffff;
    width: 700px;
    border: 2px solid #002947;
    padding: 30px;
    margin: 20px;
}

h1 { 
    font-size: 3rem ;
    text-align: center;
    margin: 0.15rem;
    color: #002947; 
    
}


img {
    vertical-align: text-bottom;
    float: inline-start;
    padding: 50px;
    margin-left: 100px; 
    max-width: 200px;
} 



