

body {  
    font-size: 30px;
    line-height: 45px;
    font-family: 'Abel', sans-serif;
    color: hsl(198, 48%, 45%); 
    text-align:center;
    background: #d8f2ff 
} 

p { 
    background-color: #ffffff;
    width: 700px;
    border: 2px solid #002947;
    padding: 30px;
    margin: 20px;
}

h1 { 
    vertical-align: text-bottom;
    font-size: 3rem ;
    text-align: center;
    margin: 0.15rem;
    color: #002947; 
    
}


img {
    align: center;
    padding: 50px; 
    max-width: 300rem;
} 

li a {
    text-decoration: none
}


