body {  
    font-size: 16px;
    line-height: 40px;
    font-family: 'Abel', sans-serif;
    color: #5e96ae; 
} 

p {
    display: inline-block;
    vertical-align: middle;
    text-align:center; 
    background-color: #ffffff;
    width: 700px;
    border: 2px solid #002947;
    padding: 30px;
    margin: 20px;
}

h1 {
    
    font-size: 1.5rem ;
    text-align: center;
    margin: 0.15rem;
    color: #002947; 
    
}


img {
    
    padding: 50px;
    margin-left: 100px; 
    max-width: 200px;
} 



