
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');


body {
    font-family: 'Montserrat Alternates', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}
main {
  margin: 50px;
}

.background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

/* Header
__________________________________________________________________________________________________________________________ */
header {
  background-color: black;
}

#logo {
    width: 102px;
    margin-left: 10px;
    
}
.alignment {
      display: inline-block;
      padding: 5px;
      background-color: rgb(255, 255, 255);
    
}

h1 {
    font-size: .5em;
    color: black;
    margin-top: -20px;
}

/* _____________________NAV_____________________ */

nav {
	max-width: 100%;
	overflow: hidden;
	background-color: rgb(17, 18, 20);
}

.navbar-logo {
	display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
}

.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: rgb(230, 154, 154);
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}

.active {
    background-color: rgba(17, 57, 102, 0.521);
}

.navigation a:hover {
	color: rgb(160, 160, 160);
	background-color: rgb(66, 38, 50);
    font-weight: 700;
    font-size: 20px;
}

.responsive li {
	display: block;
}

/* __________________Main Body Content________________________ */

div {
    padding: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

label {
    display: inline-block;
    min-width: 260px;
}

#formSection {
    background-color: #07135a48;
    color: #ffffff;
    display: grid;
    align-items: center;
    justify-items: center;
}


/* RANGE SLIDER */


  .slider {
    -webkit-appearance: none;
    width: 150px;
    height: 20px;
    border-radius: 10px;
    background: #ffffff;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(8, 12, 68);
    cursor: pointer;
  }

  /* Storm Region */
  #stormRegion {
    min-width: 150px;
    padding-right: 60px;
  }

  #stormDate {
    min-width: 150px;  
  }

  .Severity {
    padding-right: 0px;
  }



/* ______________________RADIO BUTTONS__________________ */
    /* Customize the label (the container) */
#dangerRadio {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dangerClass {
    text-align: center;
    padding-left: 80px;
}

.radioBox {
    padding-left: 50px;
}


.container {
    display: block;
    position: relative;
    padding-top: 6px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(255, 255, 255);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(21, 28, 117);
  }
  /* ______________________comments box____________________ */

.alignmentCom {
    vertical-align: middle;
}

 /* ______________________Submit and Reset Buttons____________________ */
#submit {
    border-radius: 15%;
    background-color: rgb(15, 11, 59);
    border: none;
    padding: 10px;
    color: white;
}
#reset {
    margin-right: 340px;
    border-radius: 15%;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    color:black;
}

/* footer
_________________________________________________________________________________________ */
footer {
    bottom: 0;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: rgb(0, 0, 0);
    font-size: 8px;
}

footer p {
    text-align: center;
    align-self: flex-end;
    margin-left: 30%;
    color: rgb(255, 255, 255);
    
}

/* map */
iframe {
    display: none;
}

@media screen and (min-width: 700px) {
  
/* _________________________________NAV______________________________________ */

.navigation {
  display: flex;
}

.navigation li:first-child {
  display: none;
}

.navigation li {
  display: block;
  flex: 1 1 100%;
}

.navigation li a {
  color: #ffffff;
}
  
  /* Main Body Content
  ______________________________________________________________________________________________________________________________ */
 



  
  /* footer
  ____________________________________________________________________________________________________________________________________ */
  footer {
      font-size: 10px;
      width: 100%;
  }
  
  footer p {
      font-size: 12px;
  }
  
  /* map */
  iframe {
      padding: 20px 20px;
      margin-left: auto;
      margin-right: 0;
      display: block;
      max-width: 100px;
      height: 100px;
  }
  
  
  } 

  @media screen and (min-width: 1000px) {
    
    /* Header
__________________________________________________________________________________________ */


/* Nav
_________________________________________________________________________________________*/

.navigation li a {
    color: rgb(255, 255, 255);
}


/* Main Body Content
_________________________________________________________________________________________ */


/* footer
_________________________________________________________________________________________ */
footer {
    font-size: 12px;
}

footer p {
    font-size: 18px;
}

    
}   

