@media only screen and (min-device-width : 16em) and (max-device-width : 24em) {}


html {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff 10%, #d8e9f3 40%, #b2d3e6 50%);
    text-emphasis-color: darkslategray;
}

nav {
  margin: 1em;
  background-color: #e0ebf1;
  color: black;
  border-radius: 20%;
  max-width: 5em;
  padding: .1em;
}

a:visited {
    color: black;
  }

li a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    padding-left: 0;
    text-align: justify;
    padding-bottom: 0em;
    text-decoration: none;

}

h1 {
    font-size: 1rem;
    text-align: center;
    margin: 0.15rem;
    color: #002947;

}

h2 {
    text-align: center;
    color: #002947;
    font-size: .5rem; 
} 

header, footer {
    margin: 1.25rem auto;
    padding: 1rem;
    max-width: 1000px;
}

img {
    max-width: 20%;
    border-radius: 10%;
    box-shadow: 0 0 10px;

}

footer {
    font-size: smaller;
    text-align: center;

}

ul {
    float: center;
    list-style-position: center;
    list-style-type: none;
    margin: 0 auto;
    max-width: 300px;
    color: #595959;
}
a:hover {
    color: #ffffff;
}