/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    text-decoration: none;
    color: #002947;
    border-radius: 50%;
}

a:hover {
    color: #000080;
}

li a {
    text-decoration: none margin: 0em;
}

li {
    list-style: none;
    padding-left: 0;
    text-align: justify;
    padding-bottom: 0em;
    text-decoration: none;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Abel', sans-serif;
    /*color: #5e96ae; */
    text-align: center;
    background: linear-gradient(to bottom, #ffffff 10%, #d8e9f3 40%, #b2d3e6 50%);

}

h1 {
    font-size: 1.5rem
        /* x.xrem  (rem is a unit of measure) */
    ;
    text-align: center;
    margin: 0.15rem;
    color: #002947;

}

h4 {
    font-size: .5rem;
    text-align: center;
    text-shadow: 1px 1px 1px #595959;
    border-bottom: .5px solid #ffffff;

}

header,
main,
footer {
    margin: 1.25rem auto;
    padding: 1rem;
    max-width: 1000px;
    /* xxxpx (px = pixel is a unit of measure)  */
    ;
}

header,
footer,
footer a {
    text-align: center;
    
}

img {
    max-width: 25%;
    border-radius: 10%;
    box-shadow: 0 0 10px;

}

footer {
    font-size: smaller;
    text-align: center;

}

ul {
    align: center;
    list-style-position: left;
    list-style-type: none;
    margin: 0 auto;
    max-width: 300px;
}