@media screen and (min-width: 1000px) {
    
    /* Header
__________________________________________________________________________________________ */


/* Nav
_________________________________________________________________________________________*/

.navigation li a {
    color: rgb(255, 255, 255);
}


/* Main Body Content
_________________________________________________________________________________________ */


/* footer
_________________________________________________________________________________________ */
footer {
    font-size: 12px;
}

footer p {
    font-size: 18px;
}

    
}   