@media screen and (min-width: 650px){ 

        h1 {
            font-size: 3.5em;
           
        } 
        header div {
            font-size: 1.2em;
            
        }
       
        h1 img {
            max-width: 120px;
        }

       
        
        .contentbox {
            max-width: 250px;
            font-size: 1.2em;
        }
    
        
    
    footer {
        background-color: rgb(179, 212, 212);
        font-size: 11px;
    }

    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
        font-size: 18px;
    }

    ul {
        flex-direction: row;
    }

	.navigation {
		display: flex;
    }
    
	.navigation li:first-child {
		display: none;
    }
    
	.navigation li {
		display: block;
		flex: 1 1 100%;
    }
    
	.navigation li a {
		color: rgb(194, 194, 194);
	}
}