@media screen and (min-width: 40em){ 

    h1 {
        font-size: 10em;
    }

    img {
        max-height: 10em;
        max-width: 10em;
       
    }

    .navigation li:first-child {
        display: none !important;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .responsive li {
        display: block;
    }
    ul {
        flex-direction: row;
    }
    
}