/*html selectors least specific*/
li {
    float: left;
    /* margin: 10; */
    margin: 0 5px 10px 20px;
    list-style: none;
    padding-left: 0;

}

li a {
    text-decoration: none
}

/* class selectors second most specific*/
.highlight {
    font-weight: bold;
}

/* id selectors most specific*/
#active {
    background-color: aquamarine;
}
img {
    max-height: 3em;
    max-width: 4em;
    display: inline-flex;
}
h1 {
    display: inline-flex;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ceeaf7;
    padding: 7px 0px;
}