@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');

@media screen and (min-width: 22.5em) {


    header {
        background-color: #5f7d99;
        padding: 0;
       
    }

    body {
        font-family: 'Montserrat Alternates', sans-serif;
    }

    img {
        position: static;
        max-height: 100px;
        max-width: 100px;
        display: flex;
        justify-content: flex-start;
        padding: 1% 1%;
    }

    h1 {
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: auto;
        margin-bottom: auto;
    }

    h2 {
        font-size: .5em;
        display: flex; 
        justify-content: center;
        align-items: flex-start;
        margin-top: auto;
        margin-bottom: auto; 
    }

    /*navigation bar and text*/
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #ceeaf7;
        padding: 10px 0px;
        margin-top: 100px;
        margin-bottom: 0;

    }

    /* navigation settings */
    nav {
        overflow: hidden;
        background-color: aqua);
        margin: 0;
        margin-top: -3em;
        margin-bottom: 5em;

    }

    .navigation li: :first-child {
        display: block;
    }

    .responsive li {
        display: block;
    }


    a:visited {
        color: black;
    }

    /* no underlines or bullets for link list */
    li a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: #ffffff;
    }

    li {
        list-style: none;
        padding-left: 0;
        text-align: justify;
        padding-bottom: 0em;
        text-decoration: none;

    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: aqua;

    }
}